body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    color: #3e3e3e;
    font-size: 18px;
    line-height: 28px;
}
header {
    display: flex;
    align-items: center;
    padding: 30px;
    padding-left: 200px;
    padding-right: 200px;
    border-bottom: 1px solid #e0e0e0;
    
}
nav {
    display: flex;
    align-items: center;
}
.menuitem {
    margin-right: 24px;
    text-decoration: none;
    color: #3e3e3e;
}
main {
    padding-left: 300px;
    padding-right: 300px;
}
h1 {
    font-size: 42px;
    font-weight: normal;
    line-height: normal;
}
.managment {
    display: flex;
    align-items: center;
    width: 50%;
}
h2 {
    font-size: 28px;
    font-weight: normal;
    line-height: normal;
}
li {
    margin-bottom: 10px;
}
.orgstructure {
    margin-left: auto;
    margin-right: auto;

}
a {
    color: #13a438;
    cursor: pointer;
}
a:hover {
    color: #705eff;
    text-decoration: none;
}
footer {
    align-items: center;
    padding: 30px;
    border-top: 1px solid #e0e0e0;
    margin-top: 60px;
    background-color: #3e3e3e35;

}
.logofooter {
    display:block;
    margin: auto;

}
.menuitem:hover {
    color:#13a438;
}
table {
    font-size: 18px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    border: 1px solid #EDEDED;
    width: 50%;

}
th {
    background: #13a43850;
    color:#3e3e3e;
    padding: 10px 20px;
}
th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
th:first-child, td:first-child {
    text-align: center;
}
th:first-child {
    border-top-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}
td {
    padding: 10px 20px;
    background: #f7f7f7;
    }
tr:last-child td:first-child {
        border-radius: 0 0 0 10px;
 }
 tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
tr td:last-child {
    border-right: none;
}
.trading {
    padding-top: 20px;
    padding-bottom: 25px;
    padding-right: 24px;
    padding-left: 24px;
    margin-right: 16px;
    background-color: #13a43830;
    border: 1px solid #ebebeb;
    border-radius: 8px;
    width: 32%;
    
}
.tradingVolume {
    margin-top: 16px;
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 10px;
}
span {
    opacity: 0.8;
}